.edit{
    display : flex;
    justify-content:center;
    align-items:center;
}
.main{
    display: flex;
    text-align: center;
    justify-content: center;
}
.main_input{
    padding: 10px;
margin: 10px;
border-radius: 10px ;
outline: none;

  
}
.main_btn{
width: 100px;
padding: 10px;
margin: 10px;
font-size: 20px;
color: white;
background-color: red;
border-radius: 10px;
outline: none;
border : none
}
.btn{
    color :white;
    background-color: green;
    padding: 5px;
    margin: 1vh;
    border-radius: 1vh;
    border : none;
}
.btn:hover{
background-color: rgb(20, 135, 173);
}