.btn_login{
    border-radius: 10px;
    padding: 2vh;
    margin: 1vh;
    width: 200px;
    border : none;
    color : white;
    background-color: tomato;
}
.btn_login:hover{
    background-color: lightsalmon;
}
input{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border : none;
    
}